.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  height: 350px;
  .splide__arrow {
    display: none;
  }
  .spline__slide {
    min-height: 500px;
  }

}
.splide--ltrsplide--draggable {
  max-width: none;
}
.splide__pagination__page {
  background: #EDEDED;
  &.is-active {
    background: #2E6EFF;
  }
}
